<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>killSpringBoard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>&quot;Fake Cellular Connection&quot; enables a realistic experience of having a device with cellular capabilities. This feature does not provide actual cellular connectivity.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>key</key>
			<string>fakeCellularConnection</string>
			<key>label</key>
			<string>Fake Cellular Connection</string>
			<key>PostNotification</key>
			<string>ml.festival.signal.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This feature shows your current WiFi network name as the Carrier name, while its connection strength is represented by the signal dots. It is recommended to use this feature alongside &quot;Data Connection Type – Override While Connected&quot; and a connection type other than WiFi.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>NO</string>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>key</key>
			<string>showWiFiOnSignalBars</string>
			<key>label</key>
			<string>Simulate Cellular Connection using WiFi</string>
			<key>PostNotification</key>
			<string>ml.festival.signal.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Data Connection Type</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>7</integer>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>dataConnectionType</string>
			<key>label</key>
			<string>Connection Type</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Blank</string>
				<string>1x</string>
				<string>GPRS</string>
				<string>E</string>
				<string>3G</string>
				<string>4G</string>
				<string>LTE</string>
				<string>Tethering</string>
				<string>WiFi</string>
			</array>
			<key>PostNotification</key>
			<string>ml.festival.signal.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>key</key>
			<string>overrideConnectionTypeWhenOnline</string>
			<key>label</key>
			<string>Override While Connected</string>
			<key>PostNotification</key>
			<string>ml.festival.signal.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>key</key>
			<string>overrideConnectionTypeWhenOffline</string>
			<key>label</key>
			<string>Override While Disconnected</string>
			<key>PostNotification</key>
			<string>ml.festival.signal.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Carrier Name</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>Carrier</string>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>key</key>
			<string>operatorName</string>
			<key>PostNotification</key>
			<string>ml.festival.signal.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>key</key>
			<string>operatorNameShowAlways</string>
			<key>label</key>
			<string>Always Show Custom Carrier</string>
			<key>PostNotification</key>
			<string>ml.festival.signal.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Signal Strength</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>key</key>
			<string>overrideSignalStrength</string>
			<key>label</key>
			<string>Override Signal Strength</string>
			<key>PostNotification</key>
			<string>ml.festival.signal.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>defaults</key>
			<string>ml.festival.signal</string>
			<key>key</key>
			<string>signalStrengthBars</string>
			<key>isSegmented</key>
			<true/>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>5</integer>
			<key>PostNotification</key>
			<string>ml.festival.signal.settingschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>Signal</string>
	<key>Title</key>
	<string></string>
</dict>
</plist>
